/* main header styling */

.WeatherDisplay {
    background: var(--frontpage-header-bg-gradient);
    box-sizing: border-box;
    width: 100%;
    height: 25vh;
    min-height: 16rem; 
    padding: 1rem 1.25rem 1.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.WeatherDisplay.default {background: linear-gradient(to bottom, #7db3ff, #b7d6ff);}

.WeatherDisplay.cloudy {background: linear-gradient(to bottom, #d2d9e1, #b7d6ff);}

.WeatherDisplay.sunny {background: linear-gradient(to bottom, #daee7f, #b7d6ff);}

.WeatherDisplay.rainy {background: linear-gradient(to bottom, #47505c, #b7d6ff);}

.WeatherDisplay.snowy {background: linear-gradient(to bottom, #7db3ff, #b7d6ff);}


.TopBar {
    position: relative;
    width: 100%;
    min-height: 2.5rem;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.75rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    border-radius: 3rem;
    color: var(--text-primary);
}

.menu:hover {
    opacity: 0.5;
}

.Location {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 2rem;
    gap: 1rem;
    color: var(--text-primary);
}

.Location * {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

.TemperatureSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex: 1;
}

.icon {
    font-size: 3.5rem;
    display: flex;
    align-items: center;
}

.Temp {
    font-size: max(2.25rem, 5vw); 
    font-weight: 800;
    line-height: 1;
    color: var(--text-primary);
}

.Divider {
    width: 0.2rem;
    height: 4rem;
    background: var(--frontpage-header-divider-color);
}

.FeelsLike {
    color: var(--text-primary);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
}

.Condition {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-primary);
}

