.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.mainPanel {
    flex: 2.5;
    padding: 2.5rem;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.weatherForecastTableContainer {
    border-radius: 20px;
    box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
    padding: 0.9rem;
}

.weatherForecastTable {
    display: flex;
    overflow: auto;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
}

.weatherForecastCell {
    padding: 0.5rem;
}

.advisoryCard {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1.25rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    /* border: 1px solid #000; */
    background: rgba(217, 217, 217, 0.00);
    box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.advisoryCard * {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.advisoryCard a {
    border-radius: 20px;
    color: black;
    font-weight: 900;
    text-decoration: none;
}

.advisoryCard a:hover {
    color: #444;
}

.advisoryCard .advisoryHeader {
    font-size: 1.3rem;
    font-weight: 1000;
}

.weatherAdvisory {
    padding: 1.5rem;
}

.weatherAdvisory .weatherAdviceLabel {
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
    margin: 0.6rem;
    padding: 0.6rem;
}

.travelConditions, .travelImpacts {
    flex-flow: column;
}

.travelConditions ul {
    list-style-type: none;
}

.travelModeImpactContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
    justify-content: center;
}

.travelModeImpact {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 0.8rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    text-align: center;
    box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.travelModeImpact .group1 {
    display: flex;
    align-items: center;
}

.travelModeImpact:hover {
    opacity: 0.75;
}

.travelModeImpact * {
    margin-bottom: 0.2rem;
}

.travelModeGood {
    color: #0d6913;
    background-color: #42ff1c;
}

.travelModeWarning {
    color: #5d5d00;
    background-color: #ffff00;
}

.travelModeDanger {
    color: #940c00;
    background-color: #ff7777;
}

.statsTileContainer {
    display: flex;
}

.statsTileCard {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0.8rem 0.4rem;
    padding: 1.3rem;
    border-radius: 20px;
    box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.statsTileCard .statsTileValue {
    font-weight: 1000;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
}

.atmosConditionsCard {
    padding: 0.9rem;
}