.locationPrompt {
    font-size: 16px;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    row-gap: 10px;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.locationPrompt button {
    font-size: 16px;
    font-family: Inter; 
    padding: 1rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.locationPrompt .buttonPrimary {
    border: none;
    color: var(--button-primary-text);
    border-radius: 30px;
    background-color: var(--button-primary-bg);
    box-shadow: var(--card-shadow);
}

.locationPrompt .buttonPrimary svg path {
    fill: #fff;
}

.locationPrompt .buttonPrimary:hover, .locationPrompt .buttonSecondary:hover {
    opacity: 0.8;
}

.locationPrompt .buttonSecondary {
    color: var(--button-secondary-text);
    border: none;
    background: none;
}

.locationPrompt input[type="text"] {
    width: max(250px, 30vw);
    font-family: Inter;
    font-size: 16px;
    border-radius: 30px;
    padding: 1.1rem;
    border: 1px solid var(--border-primary);
    background-color: var(--input-bg);
    color: var(--text-primary);
}

.locationPrompt .locationForm {
    display: flex;
    column-gap: 0.5rem;
}

.locationPrompt .formError {
    background-color: rgba(255, 131, 131, 0.5);
    display: flex;
    column-gap: 0.4rem;
    align-items: center;
    width: 20vw;
    padding: 1.1rem;
    text-align: left;
    border: 1px solid rgb(106, 0, 0);
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 0.5rem;
}

.locationPrompt .searchDropdown {
    background-color: var(--card-bg);
    width: max(250px, 30vw);
    display: flex;
    flex-flow: column;
    text-align: left;
    box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.25);
}

.locationPrompt .searchDropdownItem {
    cursor: pointer;
    background: none;
    border: none;
    align-items: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    padding: 12px;
    border-bottom: 1px solid var(--border-primary);
    color: var(--text-primary);
}

.locationPrompt .searchDropdownItem:hover {
    background: var(--bg-primary);
}