/* navigation bar styling */
/* The overarching styling for the navigation bar, which mainly deals with sizes and positioning, aswell as setting a background colour.*/
.menuOverlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    background: rgba(0, 0, 0, 0.30);
}
/*Styling for the side bar that comes out and is the background for the navigation menu, which sets how much of the screen is taken up, the height, background, display, padding, and  colour */
.sideBar {
    position: fixed;
    width: 60vw;
    max-width: 20rem;
    height: 100vh;
    background: var(--card-bg); 
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem 1rem 1rem;
    color: var(--text-primary);
}
/*Styling for the close button, which controls the font size , border, background, colour, and position. */
.closeButton {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.2rem;
    padding: 0;
    border: none;
    border-radius: 3rem;
    background: none;
    cursor: pointer;
    color: var(--text-primary);
}
/*styling that controls the opacity of a button when hovered over */
.closeButton:hover {
    opacity: 0.5;
}
/*Main styling for the buttons for the navigation menu, declaring their width, background, border, alignment, text , colour, padding, and the transition(animation speed). */
.menuButton {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid var(--menu-button-border);
    text-align: left;
    font-size: 1.4rem;
    color: var(--text-primary);
    padding: 1.5rem 1rem;
    cursor: pointer;
    display: flex;
    transition: 0.3s;
}
/* Styling to give the menu Buttons a margin*/
.menuButton * {
    margin-right: 0.6rem;
}
/*Styling for when you hover you mouse over a button */
.menuButton:hover {
    opacity: 0.9;
    background-color: var(--menu-button-hover);
}