@import url(https://fonts.googleapis.com/css?family=Inter);

body {
    font-family: Inter;
    font-size: 0.85rem;
    margin: 0;
    background-image: linear-gradient(180deg, #09F 0%, #68ACDA 26.92%, #B0DFFF 100%);
}