@import url(https://fonts.googleapis.com/css?family=Inter);

body {
    font-family: Inter;
    margin: 0;
    background-image: linear-gradient(180deg, #09F 0%, #68ACDA 26.92%, #B0DFFF 100%);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.mainHeader {
    width: 100%;
    flex: 2;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#locationLabel {
    display: flex;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 110% */
}

#locationLabel * {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.mainPanel {
    flex: 2.5;
    padding: 2.5rem;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.weatherForecastTable {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.weatherForecastCell {
    padding: 0.5rem;
}

.advisoryCard {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1.25rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #000;
    background: rgba(217, 217, 217, 0.00);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.advisoryCard * {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.advisoryCard .advisoryHeader {
    font-size: 1.3rem;
    font-weight: 1000;
}

.weatherAdvisory, .travelConditions, .travelImpacts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.travelConditions, .travelImpacts {
    flex-direction: column;
}

.travelConditions ul {
    list-style-type: none;
}

.travelImpacts {
    
}